extends layout

block content
  script(type='text/javascript').
    var socket = io.connect();
    socket.on('news', function (data) {
      console.log(data);
      if (data.f && document.getElementById("resp")) { 
        var t = data.f.replace(/\n/g, '<br />');
        $("#resp").append('<p>'+t+'</p>');
      }
    })
    $(document).ready(function(){  
      $('#dform').submit(function(event) {
            event.preventDefault();
            var ip = $(this).find( "input[name='ip']" ).val();                
            if (!ip) { alert('IP field cannot be empty'); return false; }
            $("#resp").empty();
            $("#resp").append('<h4>'+ new Date() + '</h4><p>Waiting for Bob to start...</p>');
            var p = $.post( '/alicerun', $(this).serialize() );
            p.done(function(data) { console.log(' === done'); });
      });
      
      links = evalgrlinks;
      selected_node = nodes[99];
      force.links(evalgrlinks)
      restart();

      $("#inpp").change(function () {
        var str = $('#inpp').find(":selected").val();
        console.log('----'+str);
        if (str=='evlgr') {
          console.log('evlgr');
          links = evalgrlinks;
          selected_node = nodes[99];
          restart();        	
        } else if (str=='gengr') {
          console.log('gengr');
          links = gengrlinks;
          selected_node = nodes[0];
          restart();
        } else if (str=='gengr2') {
          links = gengr2links;
          selected_node = nodes[0];
          restart();        
        }
      });
    });
  div(class='row')
    div(class='span3')
      h1 Ledah
      img(src='/images/ledah.jpg')
      form(name="login", action="/alicerun", id="dform", method="post")
        input(type="text", id="ip", name="ip", value="127.0.0.1", placeholder="ip addr of Bob")
        br
        //select(id="inpp",name="inpp")
        //  option(value="evlgr") Alice's graph
        //br
        input(type="submit", id="sub", class="btn", value="Run Graph Intersection")
    div(class='span8',id='gr')
  div(id="resp")
  script(src='/javascripts/d3.v3.min.js')
  script(src='/javascripts/graph.js')
  script(src='/javascripts/alice.js')
  script(src='/javascripts/bob.js')


