extends layout

block content
  script(type='text/javascript').
    var socket = io.connect();
    socket.on('news', function (data) {
      console.log(data);
      if (data.f && document.getElementById("resp")) {
        var t = data.f.replace(/\n/g, '<br />');
        var dd = new Date();
        var hh = dd.getUTCHours();
        var mm = dd.getUTCMinutes();
        var ss = dd.getSeconds();
        if (hh < 10) {hh = "0"+hh;}
        if (mm < 10) {mm = "0"+mm;}
        if (ss < 10) {ss = "0"+ss;}
        var tt = hh+":"+mm+":"+ss;

        $("#resp").append('<p>'+t+'</p>');
        if (data.f.match(/GEN output: 01/m)) {
          console.log('-----GOOD');
          $('#answer').append('<small>'+tt + ': </small><span class="label label-success">Connected to Alice</span><br/>');
        } else if (data.f.match(/GEN output: 00/m)) {
          console.log('-----BAD');
          $('#answer').append('<small>'+tt+': </small><span class="label label-danger">Not connected to Alice</span><br/>');
        }        
      }
    })
    $(document).ready(function(){  
      $('#dform').submit(function(event) {
            event.preventDefault();
            var ip = $(this).find( "input[name='ip']" ).val();                
            if (!ip) { alert('IP field cannot be empty'); return false; }
            $("#resp").empty();
            $('#answer').empty();
            $("#resp").append('<h4>'+ new Date() + '</h4><p>Waiting for Alice...</p>');
            var p = $.post( '/danrun', $(this).serialize() );
            p.done(function(data) { console.log(' === done'); });
      });

      selected_node = nodes[0];
      links = gengrlinks;
      resetLinks();
      restart();

      $("#inpp").change(function () {
        var str = $('#inpp').find(":selected").val();
        console.log('----'+str);
        if (str=='evlgr') {
          console.log('evlgr');
          links = evalgrlinks;
          selected_node = nodes[99];
          restart();        	
        } else if (str=='gengr') {
          console.log('gengr');
          links = gengrlinks;
          restart();
        } else if (str=='gengr2') {
          links = gengr2links;
          selected_link = gengr2links[1];
          resetLinks();
          restart();        
        }
      });
    });
  div(class='row')
    div(class='span2')
      h1 Dan
      img(src='/images/dan.jpg')
      form(name="login", action="/danrun", id="dform", method="post")
          input(type="text", id="ip", name="ip", class="span2", value="127.0.0.1", placeholder="ip addr of Bob")
          br
          select(id="inpp",name="inpp",class="input-small")
            option(value="gengr") Gen1
            option(value="gengr2") Gen2
          br
          input(type="submit", id="sub", class="btn", value="Run Graph Intersection")
      div(id='answer')
    div(class='span8',id='gr')
  div(id="resp")
  script(src='/javascripts/d3.v3.min.js')
  script(src='/javascripts/graph.js')
  script(src='/javascripts/bob.js')


